/*
#searchEntries, #searchEntriesPages {
  // Hidden by default
}
*/

#linkList {
  float: left;
  width: 20%;
}

#indexViewHolder {
  float: left;
  width: 75%;

  height: 600px;
  overflow: auto;
}

.selected-link {
  font-style: italic;
  font-weight: bold;
}

.hidden {
  display: none;
}

.searchEntries, .searchEntriesPages {
  float: left;
  height: 590px;
  width: 45%;
}

.shownAlone .searchEntries, .shownAlone .searchEntriesPages {
  width: 100%;
}

.indexSearch {
  float: left;
  width: 45%;
}

.clear {
  clear: both;
}

#collapseSearchEntries, #collapseSearchEntriesPages {
  display: inline;
}

.collapseButtons {
  float: left;
  margin-top: 10px;
  width: 3%;
}

#searchEntriesResults, #searchEntriesPagesResults {
  height: 430px;
  overflow: auto;
}
